@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  color: #3a3a3a;
}

.logo h2 {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}

.navbar ul li a img {
  width: 30px;
}

.navbar > .mobile-menu {
  display: none;
}

.mobile-cart {
  display: none;
}

.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.banner-text {
  max-width: 500px;
}

.banner-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 10px;
  line-height: 4rem;
}

.banner-details {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 20px;
}

.banner-button button img {
  width: 20%;
}

.banner-button button {
  font-size: 1rem;
  font-weight: 700;
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-circle {
  /* width: 100%; */
  background-image: url("../images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-circle img {
  width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
.vendor-logo {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #b8b8b85f;
  border-bottom: 1px solid #b8b8b85f;
  padding: 30px 0;
}
@media screen and (max-width: 576px) {
  .navbar > .mobile-menu {
    display: inline;
  }

  .mobile-menu img {
    width: 50px;
  }

  .nav-menu {
    display: none;
  }

  .logo h2 {
    text-align: center;
  }

  .mobile-cart {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-text {
    text-align: center;
  }

  .banner-button button {
    margin: 0 auto;
  }

  .vendor-logo {
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
}
